
body{
    margin:0;
    padding:0;
}
.container{
    display:flex;
  }
  
  .sidebar{
    background: lightgreen;
    height: 100vh;
    width: 20%;
    position:relative;
  }
  
  .dragholder{
     position:absolute;
     height: 100px;
     width: 5px;
     background: blue;
    right:0;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 80px;
  }
  
  .dragholder:hover{
    cursor: move;
  }
  
  .content{
    background:red;
    height:100vh;
    width: 80%;
  }